{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h3>Track Fish</h3>
        <p>If you want more information about a fish, click on its name.</p>
        <p>For each fish below, click <button class="btn btn-success">Caught!</button> if you have caught the fish in <em>ACNH</em>.
            Otherwise, click <button class="btn btn-danger">Uncaught</button> to undo.</p>
                <div class="container" id="fish-container">
                    <div id="fish-div">
                        <div class="row" id="fish-grid">
                            {% for f in all_fish|sort(attribute="fish_id") %}
                                <div class="card col-2 p5 custom-control custom-checkbox image-checkbox bg-light" id="fishcard-{{f.fish_id}}" style="max-width: 300px"
                                data-fish-id="fish-{{f.fish_id}}" data-user-id="{{f.user_id}}">
                                    <div class="card-header"><a href="/fish/{{ f.fish_id }}">{{f.fish.name}}</a></div>
                                    <img src="{{f.fish.icon_url}}" class="card-img-top img-fluid">
                                    {% if f.is_caught == true %}
                                    <a href="/fish/{{ f.fish_id }}" class="btn btn-danger fish-uncaught-btn">Uncaught</a>
                                    {% else %}
                                    <a href="/fish/{{ f.fish_id }}" class="btn btn-success fish-caught-btn">Caught!</a>
                                    {% endif %}
                                    
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/app.js"></script>
{% endblock %}