{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h3>Track Fish</h3>
                <div class="container" id="fish-container">
                    <div id="fish-div">
                        <div class="row" id="fish-grid">
                            {% for f in all_fish|sort(attribute="fish_id") %}
                                <div class="card col-2 p5 custom-control custom-checkbox image-checkbox bg-light fishcard" style="max-width: 300px" data-fish-id="fish-{{f.fish_id}}">
                                    <div class="card-header"><a href="/fish/{{ f.fish_id }}">{{f.fish.name}}</a></div>
                                    <img src="{{f.fish.icon_url}}" class="card-img-top img-fluid">
                                    {% if f.is_caught == false %}
                                    <form action="/fish/{{ f.fish_id }}/edit" method="PUT" id="fish-caught-form"><button type="submit" class="btn btn-success">Caught!</button></form>
                                    {% else %}
                                    <form action="/fish/{{ f.fish_id }}/edit" method="PUT" id="fish-uncaught-form"><button class="btn btn-danger">Uncaught</button></form>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
    </div>
{% endblock %}